{% extends 'base.html' %}

{% block content %}
<div style="background-color: yellow; padding: 5px">
    <p>«Че́лси» (полное название — Футбольный клуб «Челси», англ. Chelsea Football Club,
    английское произношение: [ˈtʃɛlsiː 'futbɔ:l klʌb]) — английский профессиональный футбольный клуб из Фулема на
    юго-западе Лондона. Выступает в английской Премьер-лиге, высшем дивизионе в системе футбольных лиг Англии.
    Основан в 1905 году. Провёл бо́льшую часть своей истории в высшем дивизионе английского футбола.
    Один из клубов-основателей английской Премьер-лиги в 1992 году. «Челси» шесть раз становился чемпионом Англии,
    восемь раз выигрывал Кубок Англии и пять раз Кубок Футбольной лиги. Клуб добивался успеха на европейской арене,
    дважды выиграв Лигу чемпионов УЕФА, Кубок обладателей кубков УЕФА, Лигу Европы УЕФА и Суперкубок УЕФА.
    «Челси» — единственный клуб, который выиграл три главных клубных турнира УЕФА дважды, а также единственный клуб,
    владевшим двумя еврокубками одновременно.</p>
</div>
{% endblock %}